extends ./layout/common
block title
  title='ws'
block seo
  meta(name="description",content="扶뒬못")
  meta(name="keywords",content="扶뒬못")
block style
  +styles([])
block body
  - var bodyClass = 'index'
append content
  .main
    form.form-horizontal(action="/api", method="post")
      .form-group
        label.col-sm-2.control-label host
        .col-sm-10
          input.form-control(type='text', name="host")
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') confirm
append script
  script.
      var socket = io.connect("//localhost:3000");
      socket.on('news', function (data) {
          console.log(data);
      });